p.control
  span.select
    select((input)="newPair($event.target.value)")
      option(*ngFor="let rate of contentManagerService.keysNoBase")
        |{{rate}}
.control
  input.input.is-full-width(type="number", placeholder="Converted output", disabled, [(ngModel)]="contentManagerService.exchangeResult")