doctype html
html
	head
		meta(charset="utf-8")
		title
			|CurrencyApp
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='assets/css/vendor/bulma.css')
	body
		app-root