/* You can add global styles to this file, and also import other style files */
body{
	width:100vw;
	height:100vh;
}

.center{
  margin:0 auto;
}
.loader-container{
	padding-bottom: 2%;
}

.error{
	max-width: 80%;
	margin:0 auto;
	display: block;
	transition: visibility 1s ease-in-out;	
}