
<div class="field-body">
  <div class="field is-expanded">
    <div class="field has-addons">
      <p class="control"><span class="select">
          <select (input)="newBase($event.target.value)">
            <option *ngFor="let rate of contentManagerService.keys;" value="{{rate}}">{{rate}}</option>
          </select></span></p>
      <div class="control">
        <input class="input" type="number" placeholder="Amount to convert" (input)="exchange($event.target.value)" maxlength="10"/>
      </div>
    </div>
    <p class="help is-danger" [ngClass]="{'is-invisible': !notNumber}">Only type in numbers and use dots for decimals, please.</p>
  </div>
</div>