.field-body
	.field.is-expanded
		.field.has-addons
			p.control
				span.select()
					select((input)="newBase($event.target.value)")
						option(*ngFor="let rate of contentManagerService.keys;", value="{{rate}}")
							|{{rate}}
			.control
				input.input(type="number", placeholder="Amount to convert", (input)="exchange($event.target.value)", maxlength="10")
		p.help.is-danger([ngClass]="{'is-invisible': !notNumber}")
			|Only type in numbers and use dots for decimals, please.