.hero.is-fullheight.columns.is-centered.is-vcentered
  .column.is-narrow    
    .card      
      .card-header
        span.card-header-title
          |Currency Converter
      .card-content
        .content([ngClass]="{'is-hidden': !contentManagerService.spinner}")              
          .loader.center       
        form([ngClass]="{'is-invisible': !contentManagerService.loadedOk}")  
          app-input.field.has-addons
          app-output.field.has-addons#output       
        //- a((click)="contentManagerService.swapCurrencies();")
        //-   |Swap Currencies
      .card-footer([ngClass]="{'is-invisible': !contentManagerService.loadedOk && !contentManagerService.error}")   
        p.card-footer-item([ngClass]="{'has-text-danger': contentManagerService.error}")
          span
            |{{contentManagerService.currentRateMessage}}
