
<div class="hero is-fullheight columns is-centered is-vcentered">
  <div class="column is-narrow">   
    <div class="card">     
      <div class="card-header"><span class="card-header-title">Currency Converter</span></div>
      <div class="card-content">
        <div class="content" [ngClass]="{'is-hidden': !contentManagerService.spinner}">             
          <div class="loader center">      </div>
        </div>
        <form [ngClass]="{'is-invisible': !contentManagerService.loadedOk}"> 
          <app-input class="field has-addons"></app-input>
          <app-output class="field has-addons" id="output">      </app-output>
        </form>
      </div>
      <div class="card-footer" [ngClass]="{'is-invisible': !contentManagerService.loadedOk &amp;&amp; !contentManagerService.error}">  
        <p class="card-footer-item" [ngClass]="{'has-text-danger': contentManagerService.error}"><span>{{contentManagerService.currentRateMessage}}</span></p>
      </div>
    </div>
  </div>
</div>